<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="description" content="SUI,致力于前端开发推广">
    <meta name="keywords" content="前端,前端开发,前端框架,css,html,js,jquery,ui,设计,SUI">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>首页--简洁、轻量的前端UI框架－SUI</title>
    <link rel="Shortcut Icon" href="dist/images/sui.ico">
    <link rel="stylesheet" href="dist/font/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/sui.css">
    <link rel="stylesheet" href="dist/css/sui-main.css">
    <link rel="stylesheet" href="dist/css/style.css">
</head>
<body>
<header class="header-wraper clearfix">
    <h1 class="logo-personal clearfix" ng-if="enterprise_type == 3">
        <a class="logo-link" href="/home.html">YZO</a>
    </h1>
    <nav class="nav-wrap">
        <ul class="nav-function clearfix">
            <li class="nav-item active" onclick="click_show_view('dashboard')">
                <div class="nav-item-title">仪表盘</div>
            </li>
            <li class="nav-item" onclick="click_show_view('data_source')">
                <div class="nav-item-title">工作表</div>
            </li>
            <li class="nav-item nav-datasource" onclick="click_show_view('database')">
                <div class="nav-item-title">数据源</div>
            </li>
        </ul>
    </nav>
    <div class="hd-set personal-hd-set">
        <ul class="clearfix">
            <li class="hd-set-item pl8 pr8 mr8" onclick="navMemUpgradeLog('nav');">
                <a class="display-inline-block font-w-b cr-yto text-decoration-hover-underline" href="/member.html" target="_blank" >升级会员</a>
                <a class="font-w-b cr-yto text-decoration-hover-underline hide" href="/member-pay.html#?vipLevel=0" target="_blank" >升级/续费</a>
            </li>
            <li class="hd-set-item pl8 pr8 pr">
                <div class="account-info">
                    <div class="display-inline-block nav-user-logo after-triangle pr" id="J_account_setting_btn" onclick="accountInfoSetting = !accountInfoSetting" title="账号设置">
                        <img class="user-logo-img" width="22" src="/dist/images/1-head-pic.png">
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>
                    <div class="box-account-tip account-info-content hide">
                        <div class="top-split-line user-info clearfix">
                            <div class="user-logo" ng-click="modifyPic()">
                                <img class="user-logo-img" src="/dist/images/1-head-pic.png">
                            </div>
                            <div class="user-content">
                                <div>
                                    <span class="user-contact nowrap" title="BDP用户" >BDP用户</span>
                                    <a class="cursor-pointer" href="/member-pay.html#?vipLevel=0" target="_blank" onclick="navMemUpgradeLog('icon');">
                                    </a>
                                </div>
                                <div class="capacity-wrap">
                                    <div class="capacity-use" style="width: 0%;"></div>
                                </div>
                                <div class="clearfix w100">
                                    <span class="">0  GB</span>
                                    <span class="font-text-tip">/100  MB</span>
                                    <a class="font-w-b cr-yzo text-decoration-hover-underline pull-right" href="/member.html" target="_blank" onclick="navMemUpgradeLog('tab_content');">升级会员</a>
                                    <a class="font-w-b cr-yzo text-decoration-hover-underline pull-right hide" href="/member-pay.html#?vipLevel=0" target="_blank" onclick="navMemUpgradeLog('tab_content');">升级/续费</a>
                                </div>
                            </div>
                        </div>
                        <ul class="operate-list">
                            <li class="operate-item" onclick="editUserBaseInfo()">
                                <i class="fa fa-user-o"></i>
                                <span>个人信息</span>
                                <i class="fa fa-angle-right operater"></i>
                            </li>
                            <li class="operate-item">
                                <i class="fa fa-ticket"></i>
                                <i class="unwatched"></i>
                                <span>优惠券</span>
                                <span class="coupon-number ng-binding">1</span>
                                <i class="fa fa-angle-right operater"></i>
                            </li>
                            <li class="operate-item" onclick="editPassword()">
                                <i class="fa fa-keyboard-o"></i>
                                <span>修改密码</span>
                                <i class="fa fa-angle-right operater"></i>
                            </li>
                            <li class="operate-item">
                                <i class="fa fa-television"></i>
                                <span>主题</span>
                                <div class="operater">
                                    <div class="theme-operate-light theme-active" onclick="changeSelectedTheme(theme.id)" title="典雅白">
                                    </div>
                                    <div class="theme-operate-dark" onclick="changeSelectedTheme(theme.id)" title="星空蓝">
                                    </div>
                                </div>
                            </li>
                            <li class="operate-item" onclick="showOfflineTask()">
                                <i class="fa fa-tasks"></i>
                                <i class="unwatched hide"></i>
                                <span>离线任务</span>
                                <i class="fa fa-angle-right operater"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="hd-set-item pl8 pr8">

                    <div class="pr">
                        <div onclick="showNoticeList()" title="消息中心">
                            <span class="icon-wrap pr">
                                <i class="fa fa-bell-o font-16"></i>
                                <i class="unwatched active"></i>
                            </span>
                        </div>
                        <div class="nav-unread-wrap hide" onclick="vm.unreadShow = false;showNoticeList()">您有新的未读消息</div>
                        <div class="nav-notice-list-wrap ">
                            <div class="nav-tabs clearfix">
                                <ul>
                                    <li class="active"><a href="javascript:;" name="#system" class="font-text-tab font-1">系统</a><span class="unread-len">22</span></li>
                                    <li class=""><a href="javascript:;" name="#alert" class="font-text-tab font-1">预警</a></li>
                                    <li class=""><a href="javascript:;" name="#message" class="font-text-tab font-1">干货</a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="system">
                                    <ul>
                                        <li>
                                            <div class="notice-html">
                                                <div class="ng-binding">
                                                    <p>五折优惠!! 最后一天!!别忘记小草莓送您的优惠券哦!!最高可减1111,快去行动哟！！！<br></p>
                                                </div>
                                            </div>
                                            <div class="notice-sendtime ng-binding">2018-11-13 16:15:28</div>
                                        </li>
                                        <li>
                                            <div class="notice-html">
                                                <div class="ng-binding">
                                                    <p>五折优惠!! 最后一天!!别忘记小草莓送您的优惠券哦!!最高可减1111,快去行动哟！！！<br></p>
                                                </div>
                                            </div>
                                            <div class="notice-sendtime">2018-11-13 16:15:28</div>
                                        </li>
                                        <li>
                                            <div class="notice-html">
                                                <div class="ng-binding">
                                                    <p>五折优惠!! 最后一天!!别忘记小草莓送您的优惠券哦!!最高可减1111,快去行动哟！！！<br></p>
                                                </div>
                                            </div>
                                            <div class="notice-sendtime">2018-11-13 16:15:28</div>
                                        </li>
                                        <li>
                                            <div class="notice-html">
                                                <div class="ng-binding">
                                                    <p>五折优惠!! 最后一天!!别忘记小草莓送您的优惠券哦!!最高可减1111,快去行动哟！！！<br></p>
                                                </div>
                                            </div>
                                            <div class="notice-sendtime">2018-11-13 16:15:28</div>
                                        </li>
                                        <li>
                                            <div class="notice-html">
                                                <div class="ng-binding">
                                                    <p>五折优惠!! 最后一天!!别忘记小草莓送您的优惠券哦!!最高可减1111,快去行动哟！！！<br></p>
                                                </div>
                                            </div>
                                            <div class="notice-sendtime">2018-11-13 16:15:28</div>
                                        </li>
                                    </ul>
                                    <div class="nav-notice-operate clearfix">
                                        <div class="read-all" ng-click="vm.setNoticeReadAll()">
                                            全部标为已读
                                        </div>
                                        <div class="see-all" ng-click="goToListPage()">
                                            查看全部
                                            <i class="bdp-icon ico-triangle-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="alert">
                                    333
                                </div>
                                <div class="tab-pane" id="message">
                                    333
                                </div>
                            </div>
                        </div>
                    </div>

            </li>
            <li class="hd-set-item pl8 pr8 cursor-pointer" onclick="logout()" title="退出登录">
                <span class="bdp-icon-wrap">
                    <i class="fa fa-sign-out"></i>
                </span>
            </li>
        </ul>
    </div>
</header>
<div class="main clearfix" >

    <div class="sidebar">
        <!-- nav begin -->
        <nav class="navbar " id="header">
            <ul class="nav navbar-nav">
                <li ><a href="javascript:;" class="active" data-id="h-index"><strong>sui.js</strong> </a></li>
                <li class="sub"><a href="javascript:;" data-id="h-grid"> 栅格布局</a></li>
                <li class="sub"><a href="javascript:;" data-id="h-table">表格</a></li>
                <li class="sub"><a href="javascript:;" data-id="h-page">分页</a></li>
                <li class="sub"><a href="javascript:;" data-id="h-input">表单</a></li>
                <li class="sub"><a href="javascript:;" data-id="h-btn">按钮</a></li>
                <li class="sub"><a href="javascript:;" data-id="h-tip">标签</a></li>

            </ul>
        </nav>
        <!-- nav end -->

    </div>
    <div class="content" id="content">

    </div>
</div>

<script src="dist/js/lib/jquery/dist/jquery.min.js"></script>
<script src="dist/js/lib/jquery.validate.min.js"></script>
<script src="dist/js/lib/prettify.js"></script>
<script src="dist/js/sui.js"></script>
<script src="dist/js/main.js"></script>

<script>
    sui();
</script>
</body>
</html>